<style>
  .jumbotron {
    display: block;
    margin-top: -20px;
  }
</style>

<div class="row">
  <div class="col-md-6 callout">
    <h3><i class="fa fa-check-square-o" style="font-size: larger"></i> Know Your Client</h3>
    <p>In today’s world, every company needs to know who they are dealing with. Know Your Client (KYC) is the foundation for running a regulated firm. Precede makes that process streamlined, consistent and auditable. A regulator will want to see your records, your files - in just a few clicks you can give the regulator the information they need.</p>
  </div>

  <div class="col-md-6 callout">
    <h3><i class="fa fa-check-square-o" style="font-size: larger"></i> Anti-Money Laundering</h3>
    <p>Anti-money laundering laws apply to all. Your only defence to a prosecution is to report a suspicion to the relevant authorities. We make that process streamlined. Use our Suspicious Activity Report workflow to allow operational staff to report suspicions directly to the MLRO. Precede will record the investigatory action taken by the MLRO and assist the MLRO to prepare the external SAR.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 callout">
    <h3><i class="fa fa-check-square-o" style="font-size: larger"></i> Anti-Bribery</h3>
    <p>Bribery laws create an obligation on all firms to have a gift policy and manage their risk. Use Precede to record gifts and seek approval where necessary.</p>
  </div>

  <div class="col-md-6 callout">
    <h3><i class="fa fa-check-square-o" style="font-size: larger"></i> Complaint Management</h3>
    <p>A customer is dissatisfied with the service provided? Using Precede, you can register the complaint, investigate it, sign off the course of action by senior management and record the resolution.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 callout">
    <h3><i class="fa fa-check-square-o" style="font-size: larger"></i> HR Compliance</h3>
    <p>Looking to expand the team? Are they an Approved Person? Have you checked their references? Precede helps you bring on new employees in a compliant fashion.</p>
  </div>
</div>


 
